<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" 
    package="de.jonasbark.stripepayment">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name="com.gettipsi.stripe.OpenBrowserActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:exported="true"
            android:launchMode="singleTask"
            android:name="com.gettipsi.stripe.RedirectUriReceiver"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${tipsiStripeRedirectScheme}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.stripe.android.payments.StripeBrowserLauncherActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />
            <activity
            android:name="com.stripe.android.view.Stripe3ds2CompletionActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android" />
        <activity
            android:name="com.stripe.android.paymentsheet.PaymentSheetActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android" />
        <activity
            android:name="com.stripe.android.paymentsheet.PaymentOptionsActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android" />
        <activity
            android:name="com.stripe.android.googlepay.StripeGooglePayActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android" />
        <activity
            android:name="com.stripe.android.view.PaymentRelayActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />

        <activity
            android:name="com.stripe.android.stripe3ds2.views.ChallengeActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />
        <activity
            android:name="com.stripe.android.stripe3ds2.views.ChallengeProgressActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />

        <activity
            android:name="com.stripe.android.view.Stripe3ds2CompletionActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />
        <activity
            android:name="com.stripe.android.paymentsheet.PaymentSheetActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />
        <activity
            android:name="com.stripe.android.paymentsheet.PaymentOptionsActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />
        <activity
            android:name="com.stripe.android.googlepay.StripeGooglePayActivity"
            android:exported="true"
            tools:node="merge"
            tools:overrideLibrary="com.stripe.android"  />
    </application>

</manifest>